DISCORD_TOKEN=
RIOT_API_KEY=RGAPI-XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX
GENIUS_ACCESS_TOKEN=tu_token_de_genius
CANAL_OFERTAS_ID=
LICENSE_KEY=
ORACULO_MAX_PARTICIPANTS=5
ENABLED_COGS_ONLY=
DISABLED_COGS=
